<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言系統</title>
</head>
<body>
    <h3>輸入留言</h3>
    <form action="/send" method="GET">
        稱呼 <input type="text" name="name" /><br/>
        留言 <input type="text" name="message" /><br/>
        <button style="margin-top:10px">送出留言</button>
    </form>
    <h3>留言列表</h3>
    <% for(let i=0;i<data.length;i++){ %>
        <div>
          稱呼：<%= data[i].name %><br/>
          留言：<%= data[i].message %><br/>
          時間：<%= data[i].timestamp %>
          <hr/>
        </div>
    <% } %>  
</body>
</html>
